{% extends 'bootstrap_4_horizontal_layout.html.twig' %}

{% block form_label_class -%}
    col-md-4 text-md-right
{%- endblock form_label_class %}

{% block form_group_class -%}
    col-md-6
{%- endblock form_group_class %}

{% block form_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        <div class="form-group row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form) -}}
                {{- form_errors(form) -}}
            </div>
        </div>
    {%- endif -%}
{%- endblock form_row %}

{% block form_label_errors %}{% endblock %}
